@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
	font-feature-settings: 'calt' 1;
	font-feature-settings: 'liga' 1;
	font-feature-settings: 'case' 1;
	font-feature-settings: 'ss01' 1;
	font-feature-settings: 'ss02' 1;

	background-color: black;
	color: white;
	font-size: 2rem;
	line-height:1.5;
	overflow-x: hidden;
	margin: 0;
}

.body {
	overflow-x: hidden;
}

p {
	margin-left: 20px;
}

h1,h2,h3,h4,h5,h6 {
	font-style: italic;
	color: rgba(1,1,1,0);
	padding-top: 4rem;
	line-height: 1.2;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x:hidden;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2B8835;
    margin-left: -75px;
    margin-right: -1000px;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.head {
	color: #2B8835;
}

a {
	background-color: #2B8835;
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;

}

a:visited {
	background-color: #2B8835;
	color: white;
}


a::after {
  content: "⤴";
}


.logo {
	position: fixed;
	top: 30%;
	left: 80%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	pointer-events: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

logo img {
	    
	max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}


i {
	color: rgba(1,1,1,0);

	-webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: white;
}


.blackscreen {
	display: block;
	height: 100vh;
}
